@tailwind base;
@tailwind components;
@tailwind utilities;

@import './foundation/foundation.css';
@import './tokens/token.css';

@font-face {
  font-family: 'Hyperlegible';
  src: url('../src/fonts/AtkinsonHyperlegible-Regular.ttf');
}

@font-face {
  font-family: 'Tiltwarp';
  src: url('../src/fonts/TiltWarp-Regular-VariableFont.ttf');
}
@font-face {
  font-family: 'Mono';
  src: url('../src/fonts/MajorMonoDisplay-Regular.ttf');
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: Hyperlegible, Oxygen, Roboto, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: black;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
